<app-navbar></app-navbar>
<div class="medecin-container">

  <h1>👨‍⚕️ Espace Médecin</h1>
  <p class="subtitle">
    Gérez vos disponibilités et vos rendez-vous
  </p>

  <div class="actions-grid">

    <a routerLink="/medecin/disponibilites" class="action-card">
      <h3>📅 Gérer mes disponibilités</h3>
      <p>Ajouter, bloquer ou modifier vos créneaux</p>
    </a>

    <a routerLink="/medecin/rendezvous" class="action-card">
      <h3>📖 Mes rendez-vous</h3>
      <p>Voir la liste complète de vos RDV</p>
    </a>

  </div>

</div>
